<div id="header">
    <div class="container">
        <div class="navbar">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Images/App/tripxpert_logo.svg")" alt="tripxpert logo" class="logo"/>
                </a>
            </div>
            @(Html.Kendo().Menu()
                .Name("Menu1")
                .Items(items =>
                {
                    items.Add().Text("Home").Route("Home");
                    items.Add().Text("Destinations").Route("Destinations");
                    items.Add().Text("Contact").Route("Contact");
                    items.Add().Text("Source Code").SpriteCssClasses("k-icon k-i-download")
                    .HtmlAttributes(new { @class = "text-muted" }).Url("https://github.com/telerik/mvc-tripxpert-sample-app");
                })
                .HtmlAttributes(new { @class = "tx-top-menu" })
            )
        </div>
    </div>
</div>