$accent: #ff005f;
$link-color: #007bff;
$selected-bg: #007bff;
$component-active-bg: #007bff;

$navbar-padding-y: 1rem;

$tabstrip-tab-gap: 0;
$tabstrip-tab-padding-x: 1.25rem;
$tabstrip-tab-padding-y: 1rem;

$card-border-radius: 2px;
$card-actions-border-width: 0;
$card-deck-gap: 50px;

$card-actions-padding-y: 1.25rem;
