@import "variables";

.jumbotron-splash {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron-home {
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    height: 150px;
    width: 250px;
}
