#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

#header {
  border-bottom: 1px solid white;
  background: rgba(255, 255, 255, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  .tx-search-shown #header {
    background-color: transparent;
    pointer-events: none; }
    .tx-search-shown #header .tx-menu-open {
      display: none; }
  #header .logo {
    width: 150px; }
  #header .tx-top-menu {
    padding: 0;
    margin: -1rem 0;
    font-size: 18px;
    background: none;
    align-self: stretch; }
    #header .tx-top-menu .k-item {
      color: inherit; }
    #header .tx-top-menu .k-state-hover,
    #header .tx-top-menu .k-state-highlight {
      color: #ea0058; }
    #header .tx-top-menu .k-state-highlight::after {
      content: "";
      height: 3px;
      background: currentColor;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }

.jumbotron-splash {
  margin-top: -70px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; }

#tx-top-menu-container {
  padding: 1rem 0;
  margin: -1rem 0;
  height: auto;
  display: flex;
  align-self: stretch;
  float: none;
  overflow: visible; }
  #tx-top-menu-container .tx-top-menu > .k-item > .k-link {
    padding: .5rem 1rem; }

@media (max-width: 767.98px) {
  .k-rpanel-toggle {
    border-width: 0;
    background-image: none;
    background-color: transparent; }
  #tx-top-menu-container {
    margin: 0;
    padding: 1.3125rem 1rem;
    height: 100%;
    background: #ffffff;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: none; }
    #tx-top-menu-container.k-rpanel-expanded {
      box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
      transition: all .2s ease-in-out; }
    #tx-top-menu-container .tx-top-menu {
      margin-top: 1rem;
      flex-direction: column;
      align-items: flex-end; }
    #tx-top-menu-container .tx-top-menu .k-item {
      justify-content: flex-end; }
  #header .navbar-brand {
    z-index: 10; }
  #tx-top-menu-container {
    width: 100%; } }

.tx-jumbotron-home {
  margin-top: -70px;
  height: 520px;
  background-image: url("/images/app/homepage-image.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; }
  .tx-jumbotron-home .h1 {
    text-shadow: 0 0 60px black; }

.tx-searchbar {
  margin: 0;
  background-color: #ffffff; }
  .tx-searchbar > div {
    padding: 0; }
  .tx-searchbar > div > .k-icon {
    margin: 0 10px;
    font-size: 32px;
    align-self: center;
    opacity: .5; }
  .tx-searchbar .tx-search-button {
    padding-top: calc( 10px + 0.375rem);
    padding-bottom: calc( 10px + 0.375rem);
    border-radius: 0;
    border-width: 0; }
  .tx-searchbar span.tx-searchbox, .tx-searchbar span.tx-offertype, .tx-searchbar span.tx-pricerange {
    padding-top: 10px;
    padding-bottom: 10px; }
    .tx-searchbar span.tx-searchbox .k-select, .tx-searchbar span.tx-offertype .k-select, .tx-searchbar span.tx-pricerange .k-select, .tx-searchbar span.tx-searchbox .k-dropdown-wrap, .tx-searchbar span.tx-offertype .k-dropdown-wrap, .tx-searchbar span.tx-pricerange .k-dropdown-wrap {
      border-width: 0;
      border-radius: 0;
      background: none;
      box-shadow: none; }
  .tx-searchbar span.tx-offertype {
    border-left-width: 1px; }
  .tx-searchbar span.tx-pricerange {
    border-left-width: 1px; }

.k-popup#Destinations-list a {
  color: inherit;
  text-decoration: none; }

.k-popup#Destinations-list .k-state-focused {
  box-shadow: none; }

@media (max-width: 767.98px) {
  .tx-search-open {
    padding-top: calc( 10px + 0.375rem);
    padding-bottom: calc( 10px + 0.375rem);
    border-radius: 0;
    border-width: 0; }
  #tx-searchbar-container {
    padding: 1rem 2rem;
    height: 100vh;
    max-height: none;
    color: #212529;
    background-color: #ffffff;
    overflow: auto !important;
    display: none !important;
    flex-direction: column;
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2; }
    #tx-searchbar-container.k-rpanel-expanded {
      display: flex !important; }
    #tx-searchbar-container .tx-search-close {
      margin-right: -1rem;
      align-self: flex-end;
      order: 0;
      flex-shrink: 0; }
    #tx-searchbar-container .k-slider-horizontal .k-label,
    #tx-searchbar-container .k-slider-horizontal .k-first .k-label,
    #tx-searchbar-container .k-slider-horizontal .k-last .k-label {
      width: auto;
      left: 50%;
      right: auto;
      transform: translateX(-50%); }
    #tx-searchbar-container .tx-searchbox .k-dropdown-wrap {
      border-bottom-width: 1px; }
    #tx-searchbar-container .tx-searchbox .k-input {
      padding-left: 0; }
    #tx-searchbar-container .tx-searchbox .k-select {
      display: none; }
  #tx-searchbox-wrapper > .k-animation-container {
    height: auto !important;
    position: static !important;
    transform: none !important; }
    #tx-searchbox-wrapper > .k-animation-container > .k-popup {
      height: auto !important;
      position: static !important;
      transform: none !important;
      border-width: 0; } }

.k-listview {
  border-width: 0;
  background-color: transparent; }

.tx-tabstrip-destinations {
  margin-top: -3.5rem;
  font-size: 1.125rem; }
  .tx-tabstrip-destinations > .k-tabstrip-items {
    border-width: 0; }
  .tx-tabstrip-destinations > .k-tabstrip-items > .k-item {
    margin: 0;
    border-width: 0;
    background: none; }
  .tx-tabstrip-destinations > .k-tabstrip-items > .k-state-active {
    color: #ea0058; }
    .tx-tabstrip-destinations > .k-tabstrip-items > .k-state-active::after {
      content: "";
      display: block;
      height: 2px;
      background: #ea0058;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }

.tx-calendar-container {
  margin: -8rem -30px -3rem;
  height: 22rem;
  padding: 1rem 30px 0;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.tx-calendar-destinations {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  border-width: 0;
  border-bottom: 1px solid #e2e3e3; }
  .tx-calendar-destinations .k-header {
    background: none;
    border-width: 0; }
  .tx-calendar-destinations thead th {
    border-top: 1px solid #e2e3e3;
    border-bottom: 1px solid #e2e3e3; }
  .tx-calendar-destinations table.k-content {
    flex: 1 1 auto;
    height: 18rem; }
  .tx-calendar-destinations .k-content .k-link {
    line-height: 2; }

@media (max-width: 991.98px) {
  #tx-calendar-container {
    margin: 0;
    padding: 1rem 2rem;
    height: 100vh;
    max-height: none;
    color: #212529;
    background-color: #ffffff;
    display: none !important;
    flex-direction: column;
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2; }
    #tx-calendar-container.k-rpanel-expanded {
      display: flex !important; }
    #tx-calendar-container .tx-calendar-close {
      margin-right: -1rem;
      align-self: flex-end;
      order: 0; }
    #tx-calendar-container .tx-calendar-destinations {
      margin-top: 3rem; } }

.k-card-deck .k-card {
  flex: 1 0 0%; }

.k-card {
  transition: box-shadow ease-in-out .2s; }

.k-card:hover {
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.12); }

.k-tabstrip > .k-content {
  padding: 40px 0;
  border: 0;
  overflow: visible; }

.testimonial {
  opacity: .6;
  font-style: italic; }

.k-card-columns {
  column-count: 3;
  column-gap: 50px; }
  .k-card-columns .k-card {
    margin-bottom: 50px;
    display: inline-flex;
    width: 100%; }

.k-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px; }

.tx-bottom-dash {
  position: relative; }
  .tx-bottom-dash::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #ea0058;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%); }

.tx-bottom-dash-start::after {
  transform: none;
  left: 0; }

.tx-send-button {
  padding: 1rem;
  min-width: 190px; }

.navbar-nav-svg {
  margin-right: .5rem;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: text-top; }

.tx-tabstrip-svg {
  margin-right: .5rem;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: text-top; }

.tx-scrollview-container {
  padding: 0;
  position: relative; }
  .tx-scrollview-container .tx-scrollview {
    height: 600px;
    border-width: 0; }
  .tx-scrollview-container .tx-scrollview-image-container {
    height: 600px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover; }
  .tx-scrollview-container .km-virtual-page {
    height: 600px; }
  .tx-scrollview-container .km-pages {
    display: none; }
  .tx-scrollview-container .k-scrollview-next,
  .tx-scrollview-container .k-scrollview-prev {
    height: 40%;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; }

@media (max-width: 991.98px) {
  .k-card-columns {
    column-gap: 0.5rem; }
  .k-card-columns .k-card {
    margin-bottom: 0.5rem; }
  .k-card-grid {
    grid-gap: 0.5rem; } }

@media (max-width: 767.98px) {
  .k-card-grid {
    grid-template-columns: 1fr;
    grid-gap: 1rem; }
  .k-card-columns {
    column-count: 2; }
  .k-card-columns .k-card {
    margin-bottom: 1rem; }
  .k-card-image {
    width: 100%; }
  .tx-calendar-container {
    margin-top: -1.5rem;
    margin-bottom: -3rem;
    height: auto; }
  .tx-calendar-destinations table.k-content {
    height: auto; }
  .tx-calendar-destinations .k-content .k-link {
    line-height: normal; }
  .tx-send-button {
    width: 100%; }
  .tx-scrollview-container .k-scrollview-prev,
  .tx-scrollview-container .k-scrollview-next {
    display: none; }
  .tx-scrollview-container .km-pages {
    display: flex;
    position: absolute; } }

@media (max-width: 575.98px) {
  .k-card-columns {
    column-count: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem; }
  .k-card-columns .k-card {
    margin: 0; }
  .tx-calendar-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: auto; }
  .tx-calendar-destinations .k-content .k-link {
    line-height: 3; }
  .tx-tabstrip-destinations .k-tabstrip-items {
    font-size: 2rem;
    display: flex;
    flex-direction: row; }
  .tx-tabstrip-destinations .k-tabstrip-items > .k-item {
    flex: 1 1 0; }
  .tx-tabstrip-destinations .k-tabstrip-items > .k-item .k-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: 100%;
    justify-content: center; } }

.font-weight-medium {
  font-weight: 500 !important; }

.tx-attraction-card .k-card-title .k-toggle {
  float: right;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  transition: transform .2s ease-in-out; }
  .tx-attraction-card .k-card-title .k-toggle .k-icon {
    font-size: inherit;
    vertical-align: top; }

.tx-attraction-card .k-card-text {
  display: none; }

.tx-attraction-card .k-rotated {
  transform: rotate(180deg); }

.tx-destination-summary {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 2; }

.tx-destination-details {
  margin-bottom: -3em;
  position: relative;
  z-index: 3; }

.tx-calendar-shown {
  overflow: hidden; }
  .tx-calendar-shown #header {
    background-color: transparent;
    pointer-events: none; }
  .tx-calendar-shown #tx-menu-open,
  .tx-calendar-shown #tx-top-menu-container {
    visibility: hidden; }
  .tx-calendar-shown .tx-destination-summary {
    z-index: 4; }

.tx-svg-icon {
  font-size: 1rem;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: top; }

.tx-svg-icon-lg {
  font-size: 2rem;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: top; }

